
:root {
    --background-primary: #ffffff;
    --action-primary: #303030;
    --text-primary: #303030;
    --success: #16992e;
    --failure: red;
}
html {
    height: 100vh;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.navbar {
    z-index: 10;
    -webkit-box-shadow: 2px 1px 20px 11px rgba(0,0,0,0.09);
    -moz-box-shadow: 2px 1px 20px 11px rgba(0,0,0,0.09);
    box-shadow: 2px 1px 20px 11px rgba(0,0,0,0.09);
}
a {
    color: #5f1bbe;
}
.navbar-brand img {
    padding: 4px;
    border: solid 1px;
}
section.main, section#admin {
    width: calc(100% - 200px);
    height: 100%;
    display: table;
    margin: 50px auto 0 auto;
}
section#admin, section#admin .container, section.main, section.main .container {
    height: calc(100vh - 150px);
}
section .container {
    padding: 0px;
    background: whitesmoke;
    -webkit-box-shadow: 0px 5px 25px 10px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 5px 25px 10px rgba(0,0,0,0.18);
    box-shadow: 0px 5px 25px 10px rgba(0,0,0,0.18);
}
section#admin button#new {
    margin-left: auto;
    border-radius: 0;
}
section#admin table#edit .visible {
    color: var(--success);
}
section#admin table#edit .hidden {
    color: var(--failure);
}
section .table#edit, section table#view {
    border-spacing: 0 5px;
    margin-top: -10px !important;
}
section .table.dataTable {
    background: transparent !important;
}
section .table tbody tr {
    background-color: white;
}
section .table tbody td {
    border-top: none;
}
section .table tbody td.wrap {
    white-space: normal;
    max-width: 200px;
    overflow: hidden;
    word-break: break-word;
}
section .table .fa-trash {
    color: var(--failure);
}
section .table .fa-pen {
    color: #313436;
}
section .table .ctrls {
    background-color: #5a6268;
}
section .dataTables_scrollBody {
    background: transparent !important;
}
section .table thead th {
    border: none;
    font-weight: normal;
    color: #000;
}
section.login .input-group>* {
    background-color: transparent;
}
section.login .input-group {
    background-color: #e8e8e8;
}
section .modal-content, section .modal-header {
    border-radius: 0;
    border-width: 0;
}
section .form-group .input-group-prepend {
    background-color: #e8e8e8;
}
section .form-group .input-group-text {
    border-radius: 0;
}
section .form-group input {
    border-radius: 0;
}
.btn-clear {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.btn {
    border-radius: 0;
}
.dataTables_filter {
    text-align: right !important;
    padding-right: 10px;
}
.login-background {
    top: 0;
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.alert {
    margin: 20px;
    top: 0;
    display: none;
    position: absolute;
    width: calc(100% - 40px);
    z-index: 100;
}
section.main .input-group {
    width: calc(100% - 1px);
}
#login button {
    border-radius: 0;
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px 60px;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 25px 10px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 5px 25px 10px rgba(0,0,0,0.18);
    box-shadow: 0px 5px 25px 10px rgba(0,0,0,0.18);
}
.login h1 {
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--text-primary);
}
section .search-bar .input-group-prepend {
    padding: 10px 15px !important;
    color: #969696;
    background-color: white;
}
section#admin .search-bar input {
    width: calc(100% - 110px);
}
section.main .search-bar input {
    width: calc(100% - 45px);
}
.login .input-group-prepend, .login input, section .search-bar input {
    background: white;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
.login input {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-bottom: 10px;
}
.login input:focus {
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}
.login button[type="submit"] {
    border-radius: 0;
    background-color: var(--action-primary);
    border-color: var(--action-primary);
    width: 200px;
    margin: auto;
    display: table;
}

@media only screen and (max-width: 800px) {
    section#admin .container, section.main .container {
        width: 100%;
        max-width: 100%;
    }
    section#admin, section.main, section#admin .container, section.main .container {
        height: 100vh;
    }
    section#admin, section.main {
        width: 100%;
        margin: 0;
        height: 100vh;
    }
    div.dts div.dataTables_scrollBody {
        height: calc(100vh - 160px) !important;
    }
}